* {
  margin: 0;
  text-align: center;

}

ul li {
  list-style-type: none;
}

img {
  width: 350px;
  height: 350px;
}

header {
  text-align: center;
  background-color: pink;
  margin-bottom: 50px;
}

.choices {
  text-transform: capitalize;
  margin: 20px;
  
}

h1 {
  font-size: 42px;
}

p {
  font-size: 22px;
}

